<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazon</title>
    <link rel="stylesheet" href="./style.css" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <button onclick="openMenu()">&#9776;</button>
          <a href="index.html">amazon</a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign in</a>
        </div>
      </header>
      <aside class="sidebar">
        <h5>shopping Categories</h5>
        <button class="sidebar-close-btn" onclick="closeMenu()">X</button>
        <ul>
          <li>
            <a href="index.html">Pants</a>
          </li>
          <li>
            <a href="index.html">Shirts</a>
          </li>
        </ul>
      </aside>
      <main class="main">
        <div class="row center">
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/s1.jpg" alt="product-1" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirt</h2>
              </a>

              <div class="rating">
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/s1.jpg" alt="product-1" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirt</h2>
              </a>

              <div class="rating">
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/s1.jpg" alt="product-1" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirt</h2>
              </a>

              <div class="rating">
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/s1.jpg" alt="product-1" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirt</h2>
              </a>

              <div class="rating">
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/s1.jpg" alt="product-1" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirt</h2>
              </a>

              <div class="rating">
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/s1.jpg" alt="product-1" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirt</h2>
              </a>

              <div class="rating">
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star"></i>
                </span>
                <span>
                  <i class="bx bxs-star-half"></i>
                </span>
                <span>
                  <i class="bx bx-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">All rihgts reserved</footer>
    </div>
    <script>
      function openMenu() {
        document.querySelector(".sidebar").classList.add("open");
      }
      function closeMenu() {
        document.querySelector(".sidebar").classList.remove("open");
      }
    </script>
  </body>
</html>
